@charset "utf-8";

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: #000;
}
.clearfix:after {
	content: "";
	display: block;
	clear: both;
}
body {
	margin-top:auto!important;
	padding:0!important;
	color: #bbb;
}
h1{
	font-size:300%;
	line-height:1.5;
}
#gameCanvas {
	text-align: center;
}
#canvas {
	border: 1px solid #000;
/*	background: url(../img/kyoushitsu.jpeg) center center no-repeat;*/
	background: #222 center center no-repeat;
	background-size: cover;
}
#chatArea {
	position: fixed;
	top: 0;
	left: 600px;
	padding: 6px;
	width: 382px;
	height: 44px;
	background: rgba(0,0,0,.5);
	border-radius: 4px;
}

#chatArea form {
	width: 100%;
	height: 100%;
}

#chatTextArea {
	border-radius: 4px;
	height: 30px;
	opacity: .8;
}

#sendMsgBtn, #clearBtn {
	width: 80px;
	height: 30px;
	border-radius: 6px;
	margin-top: -10px;
	position: relative;
	top: -10px;
	opacity: .8;
}
#sendMsgBtn {
	background-color: #afa;
}

#clearBtn {
	background-color: #aaf;
}

video {
	display: none;
}
video.videoChatting {
	width: 400px;
	height: 300px;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 100;
	opacity: 1;
	display: block;
}

#test {
	color: #fff;
	position: fixed;
}

